# Ignorar dependências do Node.js
node_modules/
.env
src/auth/temp
/logs
src/modules/gemini/chatHistory.json
src/modules/geminiModule/data/chatHistory.json
src/modules/stickerModule/data/stickerPrefs.json
src/modules/stickerModule/temp/
src/modules/geminiModule/chat_history/
